<template>
    <div class="order_container" :class="order" >
        <div class="bar_container">
            <div class="bar" :class="order"></div>
        </div>
        <div class="round"></div>
    </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
    name: "Rounder",
    props: {
        order: String
    }
})
</script>

<style lang="scss" scoped>
    .order_container {
        display: flex;
        align-items: center;
        align-content: center;
        width: 100%;

        .bar_container {
            height: 100%;
            width: 100%;
            margin: auto 10px;
            display: flex;
            flex-direction: column;

            .bar {
                height: 1px;
                width: 100%;
                min-width: 12px;
                border: 2px solid var(--main-font-color);
                border-radius: 35px;
                background-color: var(--main-font-color);
            }

            .bar.left {
                align-self: flex-end;
            }

            .bar.right {
                align-self: flex-start;
            }
        }

        .round {
            height: 20px;
            width: 20px;
            border: 4px solid var(--main-font-color);
            border-radius: 35px;
            margin: auto 10px;
            flex-shrink: 0;
        }
    }

    .order_container.left {
        flex-direction: row-reverse;
    }

    .order_container.right {
        flex-direction: row;    
    }
</style>
