<template>
    <div class="signup__container">
        <p>Are you lost ? <router-link to="/">Go back home</router-link></p>
        <sign-up-form />
    </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import SignUpForm from './SignUpForm.vue'

export default defineComponent({
    name: "signUpComponents",
    components: { SignUpForm },
})
</script>

<style lang="scss" scoped>
    .signup__container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        p {
            margin: -5em auto 3em;
            font-size: 1.5em;
            font-weight: 600;

            a, a:visited {
                text-decoration: none;
                color: var(--main-accent-color-1);
            }
        }
    }
</style>
