<template>
    <div>
    <p>Book detail vue {{slug}}</p>
    <router-link to="/book/eee">change</router-link>
    </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import { RouterLink } from 'vue-router';
export default defineComponent({
    name: "BookDetail",
    components: {
        RouterLink
    },
    computed: {
        slug() {
            return this.$route.params.slug
        }
    },
    watch: {
        $route(to, from) {
            console.log(to, from);
        }
    }
})
</script>
