<template>
  <div>
  <HomeComponents />
  <reading-and-writing></reading-and-writing>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import HomeComponents from "@/components/Home/Home.vue"; // @ is an alias to /src
import ReadingAndWriting from "@/components/ReadingAndWriting/ReadingAndWriting.vue";

export default defineComponent({
  name: "Home",
  components: {
    HomeComponents,
    ReadingAndWriting
  },
});
</script>

